/* NOTE CARD */
.note {
  background-color: white;
  border: 1px solid #e0e1e0;
  border-radius: 8px;
  position: relative;
  padding: 12px 8px 6px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.note:hover {
  box-shadow: 0 4px 8px rgba(60, 64, 67, 0.2);
  transform: translateY(-2px);
}

.note .title {
  width: 100%;
  margin: 6px 8px 2px 12px;
  font-weight: 500;
  color: #202124;
}

.note .text {
  width: 100%;
  margin: 4px 8px 8px 12px;
  color: #3c4043;
}

.note .note-footer {
  margin-top: 6px;
  display: flex;
  padding: 0;
  justify-content: flex-end;
  gap: 4px;
}

.note-footer .material-symbols-outlined {
  color: #5f6368;
  font-size: 0.95rem;
}

.note .check-circle {
  position: absolute;
  top: -20px;
  left: -20px;
}
